* {
    box-sizing: border-box;
}
body {
    background-color: lightgray;
    margin: 0;
}

#myHeader {
    position: fixed;
    z-index: 99;
    background-color: #fff;
    width: 100%;
}

#nameBox {
    float: left;
    font-size: 30px;
    color: #fff;
    background-color: teal;
    width: 250px;
    height: 75px;
    line-height: 75px;
    text-decoration: none;
    text-align: center;
}

nav {
    float: right;
    margin-top: 25px;
}

nav a {
    border-left: 1px solid #999;
    margin-left: 15px;
    padding-left: 15px;
    text-decoration: none;
    color: #999;
}

nav a:first-child {
    border-left: 0 none;
}

.container {
    width: 100%;
    max-width: 720px;
    margin: 0 auto;
}

#main-container{
    padding-top: 75px;
}

.main-section {
    float: left;
    width: 100%;
    margin-top: 25px;
    background-color: #fff;
    padding: 25px;
}

.main-section h1 {
    font-size: 30px;
    color: teal;
    font-weight: 700;
}

.auth-image{
    float: left;
    width: 200px;
    height: auto;
    margin-right: 25px;
}

.social {
    height: 50px;
}

footer {
    clear: both;
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    background-color: #fff;
    height: 50px;
    line-height: 50px;
    border-top: 2px solid teal;
}

#test {
    height: 100px;
    width: 100px;
    position: relative;
    background-color: red;
}

#txt {
    position: absolute;
    bottom: 60px;
}